# Apriori Algorithm

In [4]:
%pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=dab43484170a5d86b588aa28eda2dbf6eb5a2e50c9b1db2557d1edcfe27d11d0
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\32\2a\54\10c595515f385f3726642b10c60bf788029e8f3a1323e3913a
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
from apyori import apriori
import pandas as pd

In [3]:
df = pd.read_csv('GroceryStoreDataSet.csv', names=['products'], header=None)
df

                          products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [4]:
df.values

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [5]:
# 轉換為list並分割
data = list(df["products"].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [7]:
%pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.20.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.20.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df.head()

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True

# 0919 thesis

In [2]:
from apyori import apriori
import pandas as pd

In [3]:
df = pd.read_csv('0919 Apriori df.csv') # names=['products'], header=None

features = pd.read_csv('0919 Apriori features.csv')
features = list(features['features'])

In [4]:
df_str = df[features].astype(str)
# df_str.dtypes

df_dum = pd.get_dummies(df_str)
df_dum.head()
df_dum.to_csv('0920 df_dum.csv', index = None)

In [5]:
df_dum_int = df_dum.astype('int')
df_dum_int_bool = df_dum_int.astype('bool')

In [14]:
from mlxtend.frequent_patterns import apriori, association_rules

# 找出 frequent itemsets(頻繁項集)，最低支持度 (min support) 定為 50%
frequent_itemsets = apriori(df_dum_int_bool, min_support=0.5, use_colnames=True)
frequent_itemsets.to_csv('0920 frequent_itemsets.csv', index = None)

In [13]:
help(apriori)

Help on function apriori in module mlxtend.frequent_patterns.apriori:

apriori(df, min_support=0.5, use_colnames=False, max_len=None, verbose=0, low_memory=False)
    Get frequent itemsets from a one-hot DataFrame

    Parameters
    -----------
    df : pandas DataFrame
      pandas DataFrame the encoded format. Also supports
      DataFrames with sparse data; for more info, please
      see (https://pandas.pydata.org/pandas-docs/stable/
           user_guide/sparse.html#sparse-data-structures)

      Please note that the old pandas SparseDataFrame format
      is no longer supported in mlxtend >= 0.17.2.

      The allowed values are either 0/1 or True/False.
      For example,

    ```
             Apple  Bananas   Beer  Chicken   Milk   Rice
        0     True    False   True     True  False   True
        1     True    False   True    False  False   True
        2     True    False   True    False  False  False
        3     True     True  False    False  False  False
        4    False    False   True     True   True   True
        5    False    False   True    False   True   True
        6    False    False   True    False   True  False
        7     True     True  False    False  False  False
    ```

    min_support : float (default: 0.5)
      A float between 0 and 1 for minumum support of the itemsets returned.
      The support is computed as the fraction
      `transactions_where_item(s)_occur / total_transactions`.

    use_colnames : bool (default: False)
      If `True`, uses the DataFrames' column names in the returned DataFrame
      instead of column indices.

    max_len : int (default: None)
      Maximum length of the itemsets generated. If `None` (default) all
      possible itemsets lengths (under the apriori condition) are evaluated.

    verbose : int (default: 0)
      Shows the number of iterations if >= 1 and `low_memory` is `True`. If
      >=1 and `low_memory` is `False`, shows the number of combinations.

    low_memory : bool (default: False)
      If `True`, uses an iterator to search for combinations above
      `min_support`.
      Note that while `low_memory=True` should only be used for large dataset
      if memory resources are limited, because this implementation is approx.
      3-6x slower than the default.


    Returns
    -----------
    pandas DataFrame with columns ['support', 'itemsets'] of all itemsets
      that are >= `min_support` and < than `max_len`
      (if `max_len` is not None).
      Each itemset in the 'itemsets' column is of type `frozenset`,
      which is a Python built-in type that behaves similarly to
      sets except that it is immutable
      (For more info, see
      https://docs.python.org/3.6/library/stdtypes.html#frozenset).

    Examples
    -----------
    For usage examples, please see
    http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/

In [16]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(smokes_0),(sex_1),0.852209,0.843003,0.697628,0.818611,0.971066,-0.020787,0.865530
1,(sex_1),(smokes_0),0.843003,0.852209,0.697628,0.827551,0.971066,-0.020787,0.857014
2,(diabetes_2),(sex_1),0.776473,0.843003,0.667253,0.859339,1.019379,0.012685,1.116138
3,(sex_1),(diabetes_2),0.843003,0.776473,0.667253,0.791520,1.019379,0.012685,1.072174
4,(medicationstatus_0),(sex_1),0.778921,0.843003,0.653589,0.839096,0.995366,-0.003043,0.975722
5,(sex_1),(medicationstatus_0),0.843003,0.778921,0.653589,0.775311,0.995366,-0.003043,0.983936
6,(smokes_0),(diabetes_2),0.852209,0.776473,0.662489,0.777378,1.001165,0.000771,1.004064
7,(diabetes_2),(smokes_0),0.776473,0.852209,0.662489,0.853202,1.001165,0.000771,1.006765
8,(smokes_0),(medicationstatus_0),0.852209,0.778921,0.662640,0.777555,0.998247,-0.001164,0.993862
9,(medicationstatus_0),(smokes_0),0.778921,0.852209,0.662640,0.850715,0.998247,-0.001164,0.989993
10,(hbp_0),(hbpSBP_0),0.563173,0.562309,0.562273,0.998400,1.775537,0.245595,273.617624
11,(hbpSBP_0),(hbp_0),0.562309,0.563173,0.562273,0.999935,1.775537,0.245595,6738.549846
12,(hbp_0),(hbpDBP_0),0.563173,0.562309,0.562273,0.998400,1.775537,0.245595,273.617624
13,(hbpDBP_0),(hbp_0),0.562309,0.563173,0.562273,0.999935,1.775537,0.245595,6738.549846
14,(diabetes_2),(medicationstatus_0),0.776473,0.778921,0.585232,0.753705,0.967628,-0.019579,0.897622
15,(medicationstatus_0),(diabetes_2),0.778921,0.776473,0.585232,0.751337,0.967628,-0.019579,0.898916
16,(hbpSBP_0),(hbpDBP_0),0.562309,0.562309,0.562309,1.000000,1.778382,0.246118,inf
17,(hbpDBP_0),(hbpSBP_0),0.562309,0.562309,0.562309,1.000000,1.778382,0.246118,inf
18,"(smokes_0, diabetes_2)",(sex_1),0.662489,0.843003,0.555154,0.837983,0.994045,-0.003326,0.969017
19,"(smokes_0, sex_1)",(diabetes_2),0.697628,0.776473,0.555154,0.795774,1.024857,0.013465,1.094506
20,"(diabetes_2, sex_1)",(smokes_0),0.667253,0.852209,0.555154,0.831999,0.976285,-0.013485,0.879701
21,(smokes_0),"(diabetes_2, sex_1)",0.852209,0.667253,0.555154,0.651429,0.976285,-0.013485,0.954603
22,(diabetes_2),"(smokes_0, sex_1)",0.776473,0.697628,0.555154,0.714969,1.024857,0.013465,1.060838
23,(sex_1),"(smokes_0, diabetes_2)",0.843003,0.662489,0.555154,0.658544,0.994045,-0.003326,0.988447
24,"(smokes_0, medicationstatus_0)",(sex_1),0.662640,0.843003,0.538959,0.813352,0.964827,-0.019648,0.841140
25,"(smokes_0, sex_1)",(medicationstatus_0),0.697628,0.778921,0.538959,0.772559,0.991833,-0.004438,0.972031
26,"(medicationstatus_0, sex_1)",(smokes_0),0.653589,0.852209,0.538959,0.824614,0.967620,-0.018036,0.842662
27,(smokes_0),"(medicationstatus_0, sex_1)",0.852209,0.653589,0.538959,0.632426,0.967620,-0.018036,0.942424
28,(medicationstatus_0),"(smokes_0, sex_1)",0.778921,0.697628,0.538959,0.691931,0.991833,-0.004438,0.981506
29,(sex_1),"(smokes_0, medicationstatus_0)",0.843003,0.662640,0.538959,0.639333,0.964827,-0.019648,0.935378
30,"(hbp_0, hbpSBP_0)",(hbpDBP_0),0.562273,0.562309,0.562273,1.000000,1.778382,0.246102,inf
31,"(hbp_0, hbpDBP_0)",(hbpSBP_0),0.562273,0.562309,0.562273,1.000000,1.778382,0.246102,inf
32,"(hbpSBP_0, hbpDBP_0)",(hbp_0),0.562309,0.563173,0.562273,0.999935,1.775537,0.245595,6738.549846
33,(hbp_0),"(hbpSBP_0, hbpDBP_0)",0.563173,0.562309,0.562273,0.998400,1.775537,0.245595,273.617624
34,(hbpSBP_0),"(hbp_0, hbpDBP_0)",0.562309,0.562273,0.562273,0.999935,1.778382,0.246102,6752.446910
35,(hbpDBP_0),"(hbp_0, hbpSBP_0)",0.562309,0.562273,0.562273,0.999935,1.778382,0.246102,6752.446910

In [18]:
a_rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
a_rules.sort_values('lift', ascending = False) # 由最高到最低排序

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
9,(hbpDBP_0),(hbpSBP_0),0.562309,0.562309,0.562309,1.000000,1.778382,0.246118,inf
8,(hbpSBP_0),(hbpDBP_0),0.562309,0.562309,0.562309,1.000000,1.778382,0.246118,inf
13,"(hbp_0, hbpDBP_0)",(hbpSBP_0),0.562273,0.562309,0.562273,1.000000,1.778382,0.246102,inf
12,"(hbp_0, hbpSBP_0)",(hbpDBP_0),0.562273,0.562309,0.562273,1.000000,1.778382,0.246102,inf
16,(hbpSBP_0),"(hbp_0, hbpDBP_0)",0.562309,0.562273,0.562273,0.999935,1.778382,0.246102,6752.446910
17,(hbpDBP_0),"(hbp_0, hbpSBP_0)",0.562309,0.562273,0.562273,0.999935,1.778382,0.246102,6752.446910
6,(hbp_0),(hbpDBP_0),0.563173,0.562309,0.562273,0.998400,1.775537,0.245595,273.617624
7,(hbpDBP_0),(hbp_0),0.562309,0.563173,0.562273,0.999935,1.775537,0.245595,6738.549846
5,(hbpSBP_0),(hbp_0),0.562309,0.563173,0.562273,0.999935,1.775537,0.245595,6738.549846
4,(hbp_0),(hbpSBP_0),0.563173,0.562309,0.562273,0.998400,1.775537,0.245595,273.617624
14,"(hbpSBP_0, hbpDBP_0)",(hbp_0),0.562309,0.563173,0.562273,0.999935,1.775537,0.245595,6738.549846
15,(hbp_0),"(hbpSBP_0, hbpDBP_0)",0.563173,0.562309,0.562273,0.998400,1.775537,0.245595,273.617624
10,"(smokes_0, sex_1)",(diabetes_2),0.697628,0.776473,0.555154,0.795774,1.024857,0.013465,1.094506
11,(diabetes_2),"(smokes_0, sex_1)",0.776473,0.697628,0.555154,0.714969,1.024857,0.013465,1.060838
1,(sex_1),(diabetes_2),0.843003,0.776473,0.667253,0.791520,1.019379,0.012685,1.072174
0,(diabetes_2),(sex_1),0.776473,0.843003,0.667253,0.859339,1.019379,0.012685,1.116138
3,(diabetes_2),(smokes_0),0.776473,0.852209,0.662489,0.853202,1.001165,0.000771,1.006765
2,(smokes_0),(diabetes_2),0.852209,0.776473,0.662489,0.777378,1.001165,0.000771,1.004064

In [8]:
gg = a_rules.sort_values('lift', ascending = False)
gg.to_csv('0920 association_rules result.csv')

# 0930 Test

In [85]:
from apyori import apriori
import pandas as pd

In [86]:
df = pd.read_csv('0930 second test(add BS).csv')
df.head()

,fat(BMI>26.5),smoke,hypertension_disease,diabetes1,diabetes2,diabetes_before,heart_score(<50 = 1),real_hypertension,real_hypertension_before,real_high_BS,real_high_BS_before,wine,exercise(no = 1)
0,1,0,0,0,0,0,1,0,1,0,1,1,0
1,1,0,0,0,0,0,1,0,1,0,1,1,0
2,1,0,0,0,0,0,1,0,1,0,1,1,0
3,1,0,0,0,0,0,1,0,1,1,0,1,0
4,1,0,0,0,0,0,1,0,1,1,0,1,0

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37063 entries, 0 to 37062
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   fat(BMI>26.5)             37063 non-null  int64
 1   smoke                     37063 non-null  int64
 2   hypertension_disease      37063 non-null  int64
 3   diabetes1                 37063 non-null  int64
 4   diabetes2                 37063 non-null  int64
 5   diabetes_before           37063 non-null  int64
 6   heart_score(<50 = 1)      37063 non-null  int64
 7   real_hypertension         37063 non-null  int64
 8   real_hypertension_before  37063 non-null  int64
 9   real_high_BS              37063 non-null  int64
 10  real_high_BS_before       37063 non-null  int64
 11  wine                      37063 non-null  int64
 12  exercise(no = 1)          37063 non-null  int64
dtypes: int64(13)
memory usage: 3.7 MB

In [88]:
df_dropna = df.dropna()
df_dropna = df_dropna.astype('int')
df_dropna.head(10)

,fat(BMI>26.5),smoke,hypertension_disease,diabetes1,diabetes2,diabetes_before,heart_score(<50 = 1),real_hypertension,real_hypertension_before,real_high_BS,real_high_BS_before,wine,exercise(no = 1)
0,1,0,0,0,0,0,1,0,1,0,1,1,0
1,1,0,0,0,0,0,1,0,1,0,1,1,0
2,1,0,0,0,0,0,1,0,1,0,1,1,0
3,1,0,0,0,0,0,1,0,1,1,0,1,0
4,1,0,0,0,0,0,1,0,1,1,0,1,0
5,1,0,0,0,0,0,1,0,1,1,0,1,0
6,1,0,0,0,0,0,1,0,1,1,0,1,0
7,1,1,1,0,0,0,1,0,1,0,1,1,0
8,1,0,0,0,0,0,1,0,1,0,1,1,0
9,1,0,1,1,0,0,0,0,1,1,0,1,0

In [89]:
df_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37063 entries, 0 to 37062
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   fat(BMI>26.5)             37063 non-null  int32
 1   smoke                     37063 non-null  int32
 2   hypertension_disease      37063 non-null  int32
 3   diabetes1                 37063 non-null  int32
 4   diabetes2                 37063 non-null  int32
 5   diabetes_before           37063 non-null  int32
 6   heart_score(<50 = 1)      37063 non-null  int32
 7   real_hypertension         37063 non-null  int32
 8   real_hypertension_before  37063 non-null  int32
 9   real_high_BS              37063 non-null  int32
 10  real_high_BS_before       37063 non-null  int32
 11  wine                      37063 non-null  int32
 12  exercise(no = 1)          37063 non-null  int32
dtypes: int32(13)
memory usage: 2.1 MB

In [91]:
df_dropna['real_hypertension'].unique()

array([0, 1])

In [92]:
df_dropna_bool = df_dropna.astype('bool')
df_dropna_bool.head()

,fat(BMI>26.5),smoke,hypertension_disease,diabetes1,diabetes2,diabetes_before,heart_score(<50 = 1),real_hypertension,real_hypertension_before,real_high_BS,real_high_BS_before,wine,exercise(no = 1)
0,True,False,False,False,False,False,True,False,True,False,True,True,False
1,True,False,False,False,False,False,True,False,True,False,True,True,False
2,True,False,False,False,False,False,True,False,True,False,True,True,False
3,True,False,False,False,False,False,True,False,True,True,False,True,False
4,True,False,False,False,False,False,True,False,True,True,False,True,False

In [93]:
df_dropna_bool.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37063 entries, 0 to 37062
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   fat(BMI>26.5)             37063 non-null  bool
 1   smoke                     37063 non-null  bool
 2   hypertension_disease      37063 non-null  bool
 3   diabetes1                 37063 non-null  bool
 4   diabetes2                 37063 non-null  bool
 5   diabetes_before           37063 non-null  bool
 6   heart_score(<50 = 1)      37063 non-null  bool
 7   real_hypertension         37063 non-null  bool
 8   real_hypertension_before  37063 non-null  bool
 9   real_high_BS              37063 non-null  bool
 10  real_high_BS_before       37063 non-null  bool
 11  wine                      37063 non-null  bool
 12  exercise(no = 1)          37063 non-null  bool
dtypes: bool(13)
memory usage: 760.1 KB

In [94]:
from mlxtend.frequent_patterns import apriori, association_rules

In [102]:
# 找出 frequent itemsets(頻繁項集)，最低支持度 (min support) 定為 60%
frequent_itemsets = apriori(df_dropna_bool, min_support=0.5, use_colnames=True)

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                                           itemsets  length
0  0.759760                                        (diabetes2)       1
1  0.931603                         (real_hypertension_before)       1
2  0.785204                                     (real_high_BS)       1
3  0.715080              (diabetes2, real_hypertension_before)       2
4  0.689097                          (real_high_BS, diabetes2)       2
5  0.738391           (real_high_BS, real_hypertension_before)       2
6  0.649219  (real_high_BS, diabetes2, real_hypertension_be...       3

In [104]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.6) ]

    support                                  itemsets  length
3  0.715080     (diabetes2, real_hypertension_before)       2
4  0.689097                 (real_high_BS, diabetes2)       2
5  0.738391  (real_high_BS, real_hypertension_before)       2

### 從 frequent itemsets 中 generate association rules
### 關聯規則（associational rules）: 暗示兩種物品之間可能存在很強的關係。

In [99]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(diabetes2),(real_hypertension_before),0.759760,0.931603,0.715080,0.941191,1.010292,0.007285,1.163039
1,(real_hypertension_before),(diabetes2),0.931603,0.759760,0.715080,0.767580,1.010292,0.007285,1.033644
2,(real_high_BS),(diabetes2),0.785204,0.759760,0.689097,0.877603,1.155105,0.092530,1.962788
3,(diabetes2),(real_high_BS),0.759760,0.785204,0.689097,0.906992,1.155105,0.092530,2.309451
4,(real_high_BS),(real_hypertension_before),0.785204,0.931603,0.738391,0.940382,1.009424,0.006893,1.147257
5,(real_hypertension_before),(real_high_BS),0.931603,0.785204,0.738391,0.792603,1.009424,0.006893,1.035678
6,"(real_high_BS, diabetes2)",(real_hypertension_before),0.689097,0.931603,0.649219,0.942130,1.011300,0.007254,1.181908
7,"(real_high_BS, real_hypertension_before)",(diabetes2),0.738391,0.759760,0.649219,0.879234,1.157252,0.088218,1.989300
8,"(real_hypertension_before, diabetes2)",(real_high_BS),0.715080,0.785204,0.649219,0.907897,1.156257,0.087736,2.332138
9,(real_high_BS),"(real_hypertension_before, diabetes2)",0.785204,0.715080,0.649219,0.826816,1.156257,0.087736,1.645188
10,(diabetes2),"(real_high_BS, real_hypertension_before)",0.759760,0.738391,0.649219,0.854505,1.157252,0.088218,1.798056
11,(real_hypertension_before),"(real_high_BS, diabetes2)",0.931603,0.689097,0.649219,0.696884,1.011300,0.007254,1.025689

In [100]:
a_rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
a_rules.sort_values('lift', ascending = False) # 由最高到最低排序

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,"(real_high_BS, real_hypertension_before)",(diabetes2),0.738391,0.759760,0.649219,0.879234,1.157252,0.088218,1.989300
10,(diabetes2),"(real_high_BS, real_hypertension_before)",0.759760,0.738391,0.649219,0.854505,1.157252,0.088218,1.798056
9,(real_high_BS),"(real_hypertension_before, diabetes2)",0.785204,0.715080,0.649219,0.826816,1.156257,0.087736,1.645188
8,"(real_hypertension_before, diabetes2)",(real_high_BS),0.715080,0.785204,0.649219,0.907897,1.156257,0.087736,2.332138
2,(real_high_BS),(diabetes2),0.785204,0.759760,0.689097,0.877603,1.155105,0.092530,1.962788
3,(diabetes2),(real_high_BS),0.759760,0.785204,0.689097,0.906992,1.155105,0.092530,2.309451
6,"(real_high_BS, diabetes2)",(real_hypertension_before),0.689097,0.931603,0.649219,0.942130,1.011300,0.007254,1.181908
11,(real_hypertension_before),"(real_high_BS, diabetes2)",0.931603,0.689097,0.649219,0.696884,1.011300,0.007254,1.025689
1,(real_hypertension_before),(diabetes2),0.931603,0.759760,0.715080,0.767580,1.010292,0.007285,1.033644
0,(diabetes2),(real_hypertension_before),0.759760,0.931603,0.715080,0.941191,1.010292,0.007285,1.163039
4,(real_high_BS),(real_hypertension_before),0.785204,0.931603,0.738391,0.940382,1.009424,0.006893,1.147257
5,(real_hypertension_before),(real_high_BS),0.931603,0.785204,0.738391,0.792603,1.009424,0.006893,1.035678

In [101]:
a_rules[      # (a_rules['length'] >= 2) &
              (a_rules['confidence'] > 0.6) &
              (a_rules['lift'] > 1)              ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(diabetes2),(real_hypertension_before),0.759760,0.931603,0.715080,0.941191,1.010292,0.007285,1.163039
1,(real_hypertension_before),(diabetes2),0.931603,0.759760,0.715080,0.767580,1.010292,0.007285,1.033644
2,(real_high_BS),(diabetes2),0.785204,0.759760,0.689097,0.877603,1.155105,0.092530,1.962788
3,(diabetes2),(real_high_BS),0.759760,0.785204,0.689097,0.906992,1.155105,0.092530,2.309451
4,(real_high_BS),(real_hypertension_before),0.785204,0.931603,0.738391,0.940382,1.009424,0.006893,1.147257
5,(real_hypertension_before),(real_high_BS),0.931603,0.785204,0.738391,0.792603,1.009424,0.006893,1.035678
6,"(real_high_BS, diabetes2)",(real_hypertension_before),0.689097,0.931603,0.649219,0.942130,1.011300,0.007254,1.181908
7,"(real_high_BS, real_hypertension_before)",(diabetes2),0.738391,0.759760,0.649219,0.879234,1.157252,0.088218,1.989300
8,"(real_hypertension_before, diabetes2)",(real_high_BS),0.715080,0.785204,0.649219,0.907897,1.156257,0.087736,2.332138
9,(real_high_BS),"(real_hypertension_before, diabetes2)",0.785204,0.715080,0.649219,0.826816,1.156257,0.087736,1.645188
10,(diabetes2),"(real_high_BS, real_hypertension_before)",0.759760,0.738391,0.649219,0.854505,1.157252,0.088218,1.798056
11,(real_hypertension_before),"(real_high_BS, diabetes2)",0.931603,0.689097,0.649219,0.696884,1.011300,0.007254,1.025689

# 0905 Test

In [2]:
df = pd.read_csv('0930 second test(add BS).csv')
df

,fat(BMI>26.5),smoke,hypertension_disease,diabetes1,diabetes2,diabetes_before,heart_score(<50 = 1),real_hypertension,real_hypertension_before,real_high_BS,real_high_BS_before,wine,exercise(no = 1)
0,1,0,0,0,0,0,1,0,1,0,1,1,0
1,1,0,0,0,0,0,1,0,1,0,1,1,0
2,1,0,0,0,0,0,1,0,1,0,1,1,0
3,1,0,0,0,0,0,1,0,1,1,0,1,0
4,1,0,0,0,0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37058,0,1,1,1,0,0,1,0,1,1,0,0,1
37059,0,1,1,1,0,0,1,0,1,1,0,0,1
37060,0,1,1,1,0,0,1,0,1,1,0,0,1
37061,0,1,1,1,0,0,1,0,1,1,0,0,1
37062,0,1,1,1,0,0,1,0,1,1,0,0,1

In [7]:
df1 = df.drop(['diabetes_before','real_hypertension','real_hypertension_before','real_high_BS','real_high_BS_before'], axis=1)
df1

,fat(BMI>26.5),smoke,hypertension_disease,diabetes1,diabetes2,heart_score(<50 = 1),wine,exercise(no = 1)
0,1,0,0,0,0,1,1,0
1,1,0,0,0,0,1,1,0
2,1,0,0,0,0,1,1,0
3,1,0,0,0,0,1,1,0
4,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...
37058,0,1,1,1,0,1,0,1
37059,0,1,1,1,0,1,0,1
37060,0,1,1,1,0,1,0,1
37061,0,1,1,1,0,1,0,1
37062,0,1,1,1,0,1,0,1

In [9]:
df_dropna = df1.dropna()
df_dropna = df_dropna.astype('int')
df_dropna.head(3)

,fat(BMI>26.5),smoke,hypertension_disease,diabetes1,diabetes2,heart_score(<50 = 1),wine,exercise(no = 1)
0,1,0,0,0,0,1,1,0
1,1,0,0,0,0,1,1,0
2,1,0,0,0,0,1,1,0

In [11]:
df_dropna_bool = df_dropna.astype('bool')
df_dropna_bool.head(3)

,fat(BMI>26.5),smoke,hypertension_disease,diabetes1,diabetes2,heart_score(<50 = 1),wine,exercise(no = 1)
0,True,False,False,False,False,True,True,False
1,True,False,False,False,False,True,True,False
2,True,False,False,False,False,True,True,False

In [26]:
from mlxtend.frequent_patterns import apriori, association_rules

# 找出 frequent itemsets(頻繁項集)，最低支持度 (min support) 定為 60%
frequent_itemsets = apriori(df_dropna_bool, min_support=0.2, use_colnames=True)
frequent_itemsets

    support                           itemsets
0  0.231390                            (smoke)
1  0.428864             (hypertension_disease)
2  0.759760                        (diabetes2)
3  0.314869             (heart_score(<50 = 1))
4  0.267140                             (wine)
5  0.398888                 (exercise(no = 1))
6  0.339206  (hypertension_disease, diabetes2)
7  0.251410  (diabetes2, heart_score(<50 = 1))
8  0.209562                  (diabetes2, wine)
9  0.305669      (diabetes2, exercise(no = 1))

In [27]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(hypertension_disease),(diabetes2),0.428864,0.759760,0.339206,0.790941,1.041039,0.013372,1.149145
1,(diabetes2),(hypertension_disease),0.759760,0.428864,0.339206,0.446465,1.041039,0.013372,1.031796
2,(diabetes2),(heart_score(<50 = 1)),0.759760,0.314869,0.251410,0.330907,1.050933,0.012185,1.023969
3,(heart_score(<50 = 1)),(diabetes2),0.314869,0.759760,0.251410,0.798458,1.050933,0.012185,1.192005
4,(diabetes2),(wine),0.759760,0.267140,0.209562,0.275827,1.032518,0.006600,1.011995
5,(wine),(diabetes2),0.267140,0.759760,0.209562,0.784466,1.032518,0.006600,1.114626
6,(diabetes2),(exercise(no = 1)),0.759760,0.398888,0.305669,0.402323,1.008609,0.002609,1.005746
7,(exercise(no = 1)),(diabetes2),0.398888,0.759760,0.305669,0.766301,1.008609,0.002609,1.027989

In [28]:
a_rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
a_rules.sort_values('lift', ascending = False) # 由最高到最低排序

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(diabetes2),(heart_score(<50 = 1)),0.759760,0.314869,0.251410,0.330907,1.050933,0.012185,1.023969
3,(heart_score(<50 = 1)),(diabetes2),0.314869,0.759760,0.251410,0.798458,1.050933,0.012185,1.192005
1,(diabetes2),(hypertension_disease),0.759760,0.428864,0.339206,0.446465,1.041039,0.013372,1.031796
0,(hypertension_disease),(diabetes2),0.428864,0.759760,0.339206,0.790941,1.041039,0.013372,1.149145
4,(diabetes2),(wine),0.759760,0.267140,0.209562,0.275827,1.032518,0.006600,1.011995
5,(wine),(diabetes2),0.267140,0.759760,0.209562,0.784466,1.032518,0.006600,1.114626
6,(diabetes2),(exercise(no = 1)),0.759760,0.398888,0.305669,0.402323,1.008609,0.002609,1.005746
7,(exercise(no = 1)),(diabetes2),0.398888,0.759760,0.305669,0.766301,1.008609,0.002609,1.027989